*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
.header{
    position:absolute;
    margin-top: 5px;
    margin-left: 35px;
    width: 80%;
    padding: 20px 10px;
    background: transparent;
    align-items: center;
    z-index: 50;
}
.container{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}
.header nav{
    display: flex;
    gap: 15%;
}
.logo{
    position:relative;
    font-size: 40px;
    /* column-rule: #fff; */
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-shadow: 0px 0px 5px #ff004f,
    0px 0px 5px #ff004f,
    0px 0px 5px #ff004f,
    0px 0px 5px #ff004f;
}
.logo:hover{
    display: block;
    filter: drop-shadow(0 0 10px #ff004f);
}
.navbar a{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-weight: 200;
    transition: 1s;
}
/* .navbar a:hover{
    color: rgb(247, 66, 66);
} */
.navbar a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: 20px;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
/* .header-text{
} */
.Home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./Images/Asfaq\ Photo2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text p{
    font-size: 20px;
    margin-left: 60px
}
.header-text h1{
    font-size: 60px;
    margin-left: 60px;
}
.header-text span{
    color: #ff004f;
}
.Home-Social a{
    margin-top: 15px;
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 5px solid #ff004f;
    border-radius: 50%;
    font-size: 25px;
    text-decoration: none;
}
.Home-Social a:hover{
    background: #ff004f;
    color: rgb(238, 238, 238);
    box-shadow: 0 0 20px #ff004f,
    0 0 40px #ff004f;
}
.header-text a{
    margin-left: 60px;
}
.para1{
    width: 55%;
}
.btn-box{
    margin-top: 5px;
    display: inline-flex;
    padding: 12px 28px;
    background: #ff004f;
    color: rgb(9, 6, 6);
    border-radius: 40px;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    /* background: rgb(255, 255, 255);
    color: red; */
    box-shadow: 0 0 5px #ff004f,
    0 0 25px #ff004f, 0 0 50px #ff004f;
}


/*------------------About---------------------------- */
.About-Content{
    padding: 100px 0;
}
.row{
    margin-top: 30px;
    display: flex;
    gap: 40pxx;
    flex-wrap: wrap;
}
.about-col-1{
    margin-left: 30px;
}
.about-col-1 img{
    border:2px solid #ff004f;
    border-radius: 20px;
}
.ul3{
    margin-left: 200px;
}
.about-text{
    display: flex;
    gap: 35%;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.about-info{
    margin-top: 30px;
    font-size: large;
    font-style: normal;
    color: #ababab;
}
.about-info span{
    color: #ff004f;
}
.about-detail{
    margin-top: 30px;
    padding: 5px;
    display: inline-flex;
    gap: 285px;
    color: #ababab;
}
.about-links{
    margin-right: 50px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
.about-links::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #f60652;
    position: absolute;
    right: 0;
    bottom: -8px;
    transition: 0.5s;
}
/* .about-links:hover::after{
    width: 50%;
} */
/* .about-links.active-link::after{
    width: 50%;
} */
.tab-content ul li{
    margin-top: 20px;
    margin-left: 5px;
    list-style: none;
}
.tab-content ul li span{
    color: #9e1c45;
    font-size: 15px;
}
.tab-content{
    display: inline-flex;
    gap: 130px;
}

/* -----------------------Skill---------------------------- */
.skill-content{
    margin-left: 60px;
    padding: 130px 0;
    margin-bottom: 10px;
}
.skill-title{
    display: flex;
    gap: 50%;
    font-size: 50px;
}
.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    grid-gap: 130px;
    width: 95%;
    margin-top: 50px;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    justify-items: start;
}
.skill-list p{
    margin-top: 2px;
    margin-left: 10px;
}
.skill-list div{
    background: #262626;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 1s,border-radius 1s, transform 1s;
}
.skill-list div:hover{
     background: #ff004f;
     transform: translateY(-10px);
     border-radius: 30px;
}
.skill-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.skill-list div h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.skill-list div a{
    margin-left: 9px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}
/* -----------------------Projects----------------------- */
.projects-text{
    padding: 80px 0;
    margin-left: 60px;
}
.project-title{
    display: flex;
    gap: 50%;
    font-size: 50px;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    width: 90%;
    margin-top: 60px;
}
.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project img{
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.project:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.project:hover .layer{
    height: 100%;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: -60px;
    border-radius: 50%;
    text-align: center;
}
/* -----------------------Contact-------------------- */
.Contact-Text{
    margin-left: 60px;
    padding: 130px 0;
}
.Contact-title{
    font-size: 50px;
}
.row{
    display: flex;
    justify-content:space-around ;
}
.emailId{
    margin-top: 30px;
}
.phn{
    margin-top: 10px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 10px;
    font-size: 25px;
}
.Contact-icons{
    padding: 0;
    margin-top: 10px;
}
.Contact-icons{
    margin-top: 30px;
}
.Contact-icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    display: inline-flex;
    color: #ababab;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 25px;
    text-decoration: none;
}
.Contact-icons a:hover{
    background: #ff004f;
    color: rgb(238, 238, 238);
    box-shadow: 0 0 20px #ff004f,
    0 0 40px #ff004f;
}
.btn-box{
    /* margin-top: 20px; */
    margin-left: 25x;
    font-size: 20px;
    color: white;
    display: inline-block;
    background: #ff004f;
    /* text-decoration: none; */
}
.Contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.contact-left .btn-box{
    margin-top: 20px;
}
.footer{
    text-align: center;
    background-color: gray;
    height: 20px;
}

.menu-toggle {
    display: none;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
}


/* ================= MOBILE VIEW (max-width: 600px) ================= */
@media (max-width: 600px) {

    .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
}

.navbar {
    display: none;
    flex-direction: column;
    background: #080808;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 15px 0;
}

.navbar.active {
    display: flex;
}

.navbar a {
    padding: 12px;
    text-align: center;
    font-size: 18px;
}

    body {
        overflow-x: hidden;
    }

    /* -------- Header & Navbar -------- */
    .header {
        position: static;
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .logo {
        font-size: 26px;
        text-align: center;
    }

    .header nav {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar a {
        font-size: 16px;
    }

    /* -------- Home Section -------- */
    .Home {
        flex-direction: column;
        height: auto;
        padding: 60px 10px;
        background-position: top;
    }

    .header-text h1 {
        font-size: 32px;
        margin-left: 0;
        text-align: center;
    }

    .header-text p {
        font-size: 16px;
        margin-left: 0;
        text-align: center;
    }

    .para1 {
        width: 100%;
        text-align: center;
    }

    .header-text a {
        margin-left: 0;
        display: block;
        text-align: center;
    }

    .Home-Social {
        text-align: center;
    }

    .Home-Social a {
        margin: 8px;
        width: 36px;
        height: 36px;
        font-size: 20px;
    }

    /* -------- About Section -------- */
    .About-Content {
        padding: 60px 15px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .about-col-1 img {
        width: 100%;
        max-width: 280px;
    }

    .about-text {
        font-size: 30px;
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }

    .about-detail {
        gap: 40px;
        flex-direction: column;
        text-align: center;
    }

    .tab-content {
        flex-direction: column;
        gap: 20px;
    }

    /* -------- Skills Section -------- */
    .skill-content {
        margin-left: 0;
        padding: 60px 15px;
    }

    .skill-title {
        font-size: 32px;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .skill-list {
        grid-template-columns: 1fr;
        grid-gap: 25px;
        width: 100%;
    }

    /* -------- Projects Section -------- */
    .projects-text {
        margin-left: 0;
        padding: 60px 15px;
    }

    .project-title {
        font-size: 32px;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .project-list {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        width: 100%;
    }

    .project img {
        height: 250px;
    }

    /* -------- Contact Section -------- */
    .Contact-Text {
        margin-left: 0;
        padding: 60px 15px;
    }

    .Contact-title {
        font-size: 32px;
        text-align: center;
    }

    .contact-left {
        text-align: center;
    }

    .Contact-icons {
        text-align: center;
    }

    .Contact-icons a {
        margin: 8px;
    }

    /* -------- Footer -------- */
    .footer {
        font-size: 14px;
        height: auto;
        padding: 10px;
    }
}





















/* ================= TABLET VIEW ================= */
@media (min-width: 601px) and (max-width: 900px) {

    .header {
        padding: 15px;
        background-image: url(./Images/Asfaq\ Photo2.jpg);
    }

    .logo {
        font-size: 25px;
    }

    .Home {
        padding: 80px 30px;
        height: auto;
    }

    .header-text h1 {
        font-size: 36px;
    }

    .header-text p {
        font-size: 18px;
    }

    .skill-list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .project-list {
        grid-template-columns: repeat(1, 1fr);

        grid-gap: 40px;
    }

    .about-text,
    .skill-title,
    .project-title {
        font-size: 40px;
    }
}

